/* CSS style sheet for WendingPath footers */

<style type="text/css">
.foot-menu-item { color: black!important; line-height: 20px!important;
margin-bottom: 10px!important;
}

a.fab { color: black!important;  margin-right: 0px!important; }
li.fab { margin-right: 10px!important; }
ul.fab  { margin-right: 0px!important; }

@media  only screen and (max-width: 600px) {
.social-icons { justify-content: flex-start!important; font-size: 18px!important; }
}
A.foot-menu-item { text-decoration:none!important; color: black!important; }
A.foot-menu-item:hover { text-decoration:none!important; color: #68b4d5!important; }
li.foot-menu-item { margin-bottom: 0px!important;}

.cprightdata { font-size: 16px!important;  line-height: 18px!important; }

.dropbtn {
  color: #000000;
background-color: #FFFFFF;
  padding: 0px 0px;
  font-size: 18px;
  border: none;
  cursor: pointer;
line-height: 20px: important;
}
li.dropbtn { margin-bottom: 0px!important; }

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #FFFFFF;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
border: solid 1px ;
border-color: gray!important;
border-radius: 3px;
   z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #000!important;
  font-size: 14px;
line-height: 16px;
  padding-top: 4px; padding-bottom: 4px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #68B4D5!important;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


</style>
